<h2 mat-dialog-title>Add Task</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Task</mat-label>
            <input matInput>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

    </div>

    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Task Description</mat-label>
            <input matInput>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Add</button>
</mat-dialog-actions>