<div class="login-page" style="overflow: auto;">
    <mat-card>
        <form [formGroup]="profileForm">

            <div class="group-gap">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                            (change)="uploadFile($event)" />
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center;" *ngIf="canEdit">
                <button style="margin-top: 2%;width: 28%;padding: 0%;" mat-stroked-button color="primary" type="submit"
                    (click)="fileInput.click()">Upload Image</button>
            </div>

            <div style="display: flex;justify-content: space-between;margin-top: 2%;">
                <mat-form-field style="width: 30%;margin: inherit;">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error *ngIf="profileForm.controls['firstName'].invalid">
                        Firstname is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field style="width: 30%;margin: inherit;">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error *ngIf="profileForm.controls['lastName'].invalid">
                        Lastname is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field style="width: 30%;margin: inherit;">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="profileForm.controls['dob'].invalid">
                        Date of Birth is required
                    </mat-error>
                </mat-form-field>

            </div>


            <div style="display: flex;justify-content: space-between;margin-top: 1%;">
                <mat-form-field style="width: 45%;margin: inherit;">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="profileForm.controls['email'].invalid">Email is required</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: 45%;margin: inherit;">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                    <mat-error *ngIf="profileForm.controls['password'].invalid">
                        Password is not valid
                    </mat-error>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>

            <div style="text-align: right;margin-top: 2%;">
                <button type="button" mat-raised-button color="primary" class="edit-button" (click)="edit()" *ngIf="!canEdit">
                    Edit
                </button>
                <button type="button" mat-raised-button color="primary" class="edit-button" (click)="save()" *ngIf="canEdit">
                    Save
                </button>
                <button style="margin-left: 3%;" type="button" mat-raised-button color="secondary" class="edit-button" (click)="cancel()" *ngIf="canEdit">
                    Cancel
                </button>
            </div>
        </form>
    </mat-card>
</div>